html {
  overflow: auto;
}

body, 
.container-push, 
.content-wrap {
  font-family: "Montserrat", Helvetica, sans-serif;
  overflow: hidden !important;
  font-size: 15px;
}

h1{
  font-size: 2.143em;
  font-weight: 700;
}

h2 {
  font-size: 1.429em;
}

h3 {
  font-size: 1.214em;
}

h4 {
  font-size: 1.071em;
}

p {
  font-family: "Varela Round", sans-serif;
  line-height: 2em;
}

a {
  color: #000;
}

.container-push {
  background: #FFF;
}

.content-wrap {
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.content {
  background-color: #FFF;
  overflow: hidden;
  min-height: 100vh;
}

.topinfo {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  max-width: 100%;
  color: #3FA9F5;
}

.topinfo-lg {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
}

.backgr {
  background: url("../images/notebook3.jpg") top center no-repeat;
  position: relative;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/cover.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/cover.jpg', sizingMethod='scale')";
  min-height: 80vh;
}

.bkg-gradient {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#F5F5F5));
    background-image: -webkit-linear-gradient(top, white, #F5F5F5);
}

.vert-align {
  display: flex;
  align-items: center;
  float: none;
}


.whiteback {
  padding-top: 30px;
  padding-bottom: 60px;
  text-align: center;
  border-top: 1px solid #E0E0E0;
}

.whiteback p {
  padding-top: 20px;
}

.hrule {
  background-color: #808082;
  height: 2px;
  width: 80px;
  margin: 30px auto;
}

.hrule-intro {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  background-color: #3FA9F5;
}

.grayback {
  text-align: center;
  background-color: #F5F5F5;
  border-top: 1px solid #E0E0E0;
  padding-top: 30px;
  padding-bottom: 60px;
}

.btn-custom {
  background-color: transparent;
  color: #FF5252;
  border: 2px solid #3FA9F5;
  padding: 15px 20px 15px 20px;
  margin-top: 30px;
    -webkit-transition: .35s;
  transition: .35s;
  text-transform: uppercase;
}

.btn-custom:hover {
  background-color: #3FA9F5;
  color: #FFF;
  border: 2px solid #3FA9F5;
}

.projects {
  padding-left: 20px;
  padding-right: 20px;
}

.center-contents {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.resume {
  padding-top: 50px;
  padding-bottom: 100px;
}

.resume-heading {
  padding-top: 40px;
  padding-bottom: 20px;
  color: #3FA9F5;
}

.resume ul {
  text-align: left;
}

.resume-upper {
  border-bottom: 2px solid #E0E0E0;
  margin-bottom: 40px;
  padding-bottom: 40px;
}

.resume-left {
  text-align: center;
  text-transform: uppercase;
}

.resume-right {
  padding-top: 10px;
  margin-bottom: 40px;
  text-align: center;
}

.resume-middle a:hover {
  color: #3FA9F5;
}

.resume-title {
  color: #b8b8b8;
  margin-top: -3px;
}

.text-center-or-left {
  text-align: center;
}

#title {
  color: #FFF;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

#over{
  color: #FFF;
  font-size: 1.214em;
}

#lower {
  color: #FFF;
  font-size: 1.214em;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

#btn-intro {
  border: 2px solid #3FA9F5;
  color: #FFF;
  padding: 15px 20px 15px 20px;
  margin-top: 40px;
    -webkit-transition: .35s;
  transition: .35s;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

#btn-resume {
  border: 2px solid #3FA9F5;
  color: #3FA9F5;
  padding: 15px 20px 15px 20px;
  margin-top: 40px;
    -webkit-transition: .35s;
  transition: .35s;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

#btn-resume:hover {
  color: white;

}

footer {
  background-color: #F1F1F1;
  border-top: 1px solid #E0E0E0;
  color: #b0b0b0;
  font-size: 0.929em;
  height: 150px;
  padding-top: 20px;
  text-align: center;
}

footer span {
  color: #FF5252;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.social {
  margin-right: 15px;
  margin-bottom: 20px;
}

.social a {
  color: #b8b8b8;
  opacity: .8;
  -webkit-transition: .35s;
  transition: .35s;
}

.social a:hover {
  opacity: 1;
}

.social-twitter:hover {
  color: #55ACEE;
}

.social-facebook:hover {
  color: #3B5998;
}

.social-linkedin:hover {
  color: #007BB6;
}

.social-git:hover {
  color: #000;
}

.social-mail:hover {
  color: #DD4B39;
}

/* Media Queries */
@media(min-width: 768px) {
  h1{
    font-size: 3.571em;
  }
  
  h2 {
    font-size: 1.571em;
  }
  
  .text-center-or-left {
    text-align: left;
  }
    
    .menu-wrap {
        padding: 2.5em 1.5em 0;
    }
}
@media(min-width: 1200px) {
  h1 {
    font-size: 5.357em;
  }
  h2 {
    font-size: 1.786em;
  }
  h3 {
    font-size: 1.571em;
  }
    
    .icon-list {
        font-size: 1.125em;
    }
}